<!doctype html>

<html lang="en">
  <head>
    <title>find a movie</title>
    <link rel="stylesheet" href="/style.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  </head>

  <body>
  <h1> Movie World</h1>
    <p id="movie"><%= yield %></p>
    <p></p>

    <footer>
      &copy; Copyright 2013
     </footer>
  </body>
</html>